<div class="nhsuk-grid-column-one-third">
    <div class="article-section-nav-outer-wrapper">
        <div id="sticky-nav" class="" style="">
            <div class="inner-wrapper-sticky" style="position: relative; transform: translate3d(0px, 0px, 0px);">
                <div class="article-section-nav-wrapper">
                    <div class="article-section-nav">
                        <nav id="toc" class="js-toc-list toc__list">
                            <ol class="article-section-nav__list">



<!--
<div class="app-pane__subnav app-hide-mobile">
<nav class="app-subnav">
<ul class="app-subnav__section">
-->
  <li{% if activesub == "name" %} class="active app-subnav__section-item app-subnav__section-item--current"{% endif %}>
    <a class="app-subnav__link nhsuk-link" href="/design-system/pages/name">Name</a>
  </li>
  <li{% if activesub == "address" %} class="active app-subnav__section-item app-subnav__section-item--current"{% endif %}>
    <a class="app-subnav__link nhsuk-link" href="/design-system/pages/address">Address</a>
  </li>
  <li{% if activesub == "date-of-birth" %} class="active app-subnav__section-item app-subnav__section-item--current"{% endif %}>
    <a class="app-subnav__link nhsuk-link" href="/design-system/pages/date-of-birth">Date of birth</a>
  </li>
  <li{% if activesub == "nhs-number" %} class="active app-subnav__section-item app-subnav__section-item--current"{% endif %}>
    <a class="app-subnav__link nhsuk-link" href="/design-system/pages/nhs-number">NHS number</a>
  </li>
  <li{% if activesub == "end-page" %} class="active app-subnav__section-item app-subnav__section-item--current"{% endif %}>
    <a class="app-subnav__link nhsuk-link" href="/design-system/pages/end-page">End page</a>
  </li>
  <li{% if activesub == "feedback" %} class="active app-subnav__section-item app-subnav__section-item--current"{% endif %}>
    <a class="app-subnav__link nhsuk-link" href="/design-system/pages/feedback">Feedback</a>
  </li>
  <li{% if activesub == "error-message" %} class="active app-subnav__section-item app-subnav__section-item--current"{% endif %}>
    <a class="app-subnav__link nhsuk-link" href="/design-system/pages/error-messages">Error messages</a>
  </li>
  <li{% if activesub == "task-list" %} class="active app-subnav__section-item app-subnav__section-item--current"{% endif %}>
    <a class="app-subnav__link nhsuk-link" href="/design-system/pages/task-list">Task list</a>
  </li>
  <li{% if activesub == "answers" %} class="active app-subnav__section-item app-subnav__section-item--current"{% endif %}>
    <a class="app-subnav__link nhsuk-link" href="/design-system/pages/check-your-answers">Check your answers</a>
  </li>
</ol>
</nav>
</div>


                </div>
            </div>
        </div>
    </div>
</div>
