<div class="nhsuk-grid-column-one-third">
  <div class="article-section-nav-outer-wrapper">
      <div id="sticky-nav" class="" style="">
          <div class="inner-wrapper-sticky" style="position: relative; transform: translate3d(0px, 0px, 0px);">
              <div class="article-section-nav-wrapper">
                  <div class="article-section-nav">
                      <nav id="toc" class="js-toc-list toc__list">
                          <ol class="article-section-nav__list">



<!-- <div class="app-pane__subnav app-hide-mobile ">
  <nav class="app-subnav">
    <ul class="app-subnav__section"> -->
      <h2>Patterns</h2>
      <li{% if activesub == "Check and confirm" %} class="active app-subnav__section-item app-subnav__section-item--current active"{% endif %}>
        <a class="app-subnav__link nhsuk-link"  href="/design-system/patterns/confirmation-loop">Check and confirm</a>
      </li>
      <li{% if activesub == "Help" %} class="active app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link nhsuk-link" href="/design-system/patterns/help">Contextual help</a>
      </li>
      <li{% if activesub == "Enquiry" %} class="active app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link nhsuk-link" href="/design-system/patterns/enquiry">Enquiry form</a>
      </li>
      <li{% if activesub == "Error page" %} class="active app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link nhsuk-link" href="/design-system/patterns/error-pages">Error pages</a>
      </li>
      <li{% if activesub == "Guidance image" %} class="active app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link nhsuk-link" href="/design-system/patterns/guidance-image">Guidance images</a>
      </li>
      <li{% if activesub == "Authentication" %} class="active app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link nhsuk-link" href="/design-system/patterns/identifying-users">Identifying users</a>
      </li>
      <li{% if activesub == "Interruption card" %} class="active app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link nhsuk-link" href="/design-system/patterns/interruption-card">Interruption card</a>
      </li>
      <li{% if activesub == "Leaving a service" %} class="active app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link nhsuk-link" href="/design-system/patterns/sign-out">Leaving a service</a>
      </li>
      <li{% if activesub == "Modal window" %} class="active app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link nhsuk-link" href="/design-system/patterns/modal">Modal window</a>
      </li>
      <li{% if activesub == "Multiple loops" %} class="active app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link nhsuk-link" href="/design-system/patterns/multiple-loops">Multiple loops</a>
      </li>
      <li{% if activesub == "Postcode" %} class="active app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link nhsuk-link" href="/design-system/patterns/postcode">Postcode lookup</a>
      </li>
      <li{% if activesub == "Upload a file" %} class="active app-subnav__section-item app-subnav__section-item--current"{% endif %}>
        <a class="app-subnav__link nhsuk-link" href="/design-system/patterns/upload-file">Uploading (adding) files</a>
      </li>
    </ul>
  </nav>
</div>

</div>
</div>
</div>
</div>
</div>
