// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/_confirm-pages';
@import 'components/_timeline';
@import 'components/_currency';
@import 'components/_cases-mys';
@import 'components/_declaration-mys';
@import 'components/_panel-mys';
@import 'components/_promo-cards-mys';
@import 'components/_grid';
//@import 'includes/components/panel-confirmation';
//@import 'components/related-nav';


///////////////////////////////////////////
// Add your custom CSS/Sass styles below... 
///////////////////////////////////////////

/* Swatches for colours page styles */

.app-colour-list__swatch{
  background-color: #f0f4f5;
  border: 1px solid transparent;
  border-radius: 50%;
  display: inline-block;
  height: 40px;
  margin-right: 8px;
  vertical-align: middle;
  width: 40px;
}

.app-colour-list__swatch--border {
  border: 1px solid #d8dde0;
}


.nhsuk-header__navigation-item a:active{
  box-shadow: inset 0 -4px 0 #d8dde0;
}

/* End of swatches for colours page styles */

.example {
    position: relative;
    overflow: hidden;
    // background-color: #fff;
    border: 1px solid #aeb7bd;
    margin-top: 30px;
    padding: 40px 30px 30px 30px;
	&:before {
	    content: "EXAMPLE";
	    position: absolute;
	    top: 0;
	    left: 0;
	    padding: 0.2105263158em 0.7894736842em 0.2105263158em 0.7894736842em;
      -webkit-font-smoothing: antialiased;
	    font-weight: 400;
	    text-transform: none;
	    font-size: 12px;
	    font-weight: bold;
	    line-height: 1.45;
	    background: #425563;
        color: white;
	}
}
.example h2 {
    margin-top: 1.5em;
}

.app-content pre, .app-content code {
    font-family: monospace, monospace;
    font-size: 1em;
}

pre code {
    display: block;
    max-width: calc(100% - 3em);
    overflow-x: auto;
}

// Details

.details-margin-btm {
  margin-bottom: 30px;
}

details.details-interruption {
  background-color: inherit;

  summary {
    padding-left: 0;
  }
}

details.code-details {
    background-color: #FFF;
    border: 1px solid #aeb7bd;
    padding: 10px;
    margin-top: -1px;

    summary {
      padding-left: 10px;
    }
}

details summary {
    display: inline-block;
    color: #005ea5;
    cursor: pointer;
    position: relative;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.45;
}


confirmation {
  img {
    max-width: 100%;
    height: auto;
  }
}
.confirm-desktop{
  display: block;
}

.confirm-mobile{
   display: none;
}

@media screen and ( max-width: 640px ) {
   .confirm-desktop{
     display: none;
   }

   .confirm-mobile{
     display: block;
   }
}

    /* Sticky nav */
    #sticky-nav a.active {
        border-left: 7px solid #ffb81c;
        padding-left: 10px;
        color: #425563;
        text-decoration: none;
        font-weight: bold;
    }

    li.active a{
       border-left: 7px solid #ffb81c;
        padding-left: 10px!important;
        color: #425563;
        text-decoration: none;
        font-weight: bold;
    }


    /* Article sections */
    .article-section {
        position: relative;
        width: 100%;
        margin-top: 32px;
        padding-top: 48px;
        border-top: 1px solid #d8dde0;
    }

    .article-section:first-child {
        padding-top: 0;
        border-top: none;
        margin-top: 0;
    }

    .article-section *+* {
        margin-top: 14px;
    }

    @media (min-width: 641px) {
        .article-section *+* {
            margin-top: 20px;
        }
    }

    .article-section *+li {
        margin-top: 0;
    }

    @media (min-width: 641px) {
        .article-section *+li {
            margin-top: 0;
        }
    }

    .article-section dt {
        margin-top: 0;
    }

    .article-section h3:not(:first-of-type) {
        margin-top: 32px;
    }

    .article-section .grid-row,
    .article-section .column {
        margin-top: 0;
    }

    @media (min-width: 641px) {

        .article-section .grid-row,
        .article-section .column {
            margin-top: 0;
        }
    }

    @media (min-width: 925px) {
        .article-section {
            padding-top: 32px;
        }
    }

    /* Article section nav */
    .article-section-nav-wrapper {
        position: relative;
    }

    .article-section-nav-wrapper+.article-section-nav-wrapper {
        margin-top: 32px;
    }

    .article-section-nav {
//        padding-top: 16px;
        padding-bottom: 32px;
        border-bottom: 1px solid #d8dde0;
    }

    @media (min-width: 1520px) {
        .article-section-nav:not(.article-section-nav--facets) {
            max-width: 320px;
        }
    }

    @media (min-width: 925px) {
        .article-section-nav {
            padding-bottom: 0;
            border: none;
        }
    }

    .article-section-nav .article-section-nav__title {
        margin: 0 0 16px;
        display: inline-block;
        padding: 0 10px 10px 0;
        border-bottom: 4px solid #425563;
        font-family: "Frutiger W01", Arial, sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
        text-transform: none;
    }

    @media (min-width: 641px) {
        .article-section-nav .article-section-nav__title {
            /* font-size: type-scale($level, "medium");
    line-height: line-height($level, "medium"); */
        }
    }

    @media (min-width: 925px) {
        .article-section-nav .article-section-nav__title {
            font-size: 24px;
            line-height: 34px;
        }
    }

    @media (min-width: 925px) {
        .article-section-nav .article-section-nav__title {
            line-height: 24px;
        }
    }

    @media (max-width: 924px) {
        .article-section-nav .article-section-nav__title {
            display: block;
            padding: 0 0 4px 0;
        }
    }

    .article-section-nav .article-section-nav__section {
        margin-top: 24px;
    }

    .article-section-nav .article-section-nav__section:first-child {
        margin-top: 0;
    }

    .article-section-nav .article-section-nav__list {
        margin-left: 0;
        list-style: none;
        font-family: "Frutiger W01", Arial, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 26px;
        text-transform: none;
    }

    @media (min-width: 641px) {
        .article-section-nav .article-section-nav__list {
            /* font-size: type-scale($level, "medium");
    line-height: line-height($level, "medium"); */
        }
    }

    @media (min-width: 925px) {
        .article-section-nav .article-section-nav__list {
            font-size: 18px;
            line-height: 30px;
        }
    }

    .article-section-nav .article-section-nav__list li {
        padding-left: 0;
    }

    .article-section-nav .article-section-nav__list li:first-child a {
        margin-top: 0;
    }

    .article-section-nav .article-section-nav__list a {
        margin-top: 10px;
        display: inline-block;
        text-decoration: underline;
    }

    .article-section-nav .article-section-nav__list .section-numbered {
        margin-left: 20px;
        font-size: 16px;
    }

    .article-section-nav .article-section-nav__list--tag-links {
        list-style: none;
        padding-left: 0;
    }

    @media (max-width: 924px) {
        .article-section-nav .article-section-nav__list--tag-links {
            position: relative;
            line-height: 0;
            left: -6px;
        }

        .article-section-nav .article-section-nav__list--tag-links:after {
            clear: both;
            content: "";
            display: table;
        }

        .article-section-nav .article-section-nav__list--tag-links li {
            display: inline-block;
            float: left;
            margin-left: 6px;
            margin-top: 0;
            margin-bottom: 6px;
        }
    }

    .article-section-nav .article-section-nav__menu {
        list-style: none;
        margin-top: 0;
        padding: 0;
        font-family: "Frutiger W01", Arial, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 26px;
        text-transform: none;
    }

    @media (min-width: 641px) {
        .article-section-nav .article-section-nav__menu {
            /* font-size: type-scale($level, "medium");
    line-height: line-height($level, "medium"); */
        }
    }

    @media (min-width: 925px) {
        .article-section-nav .article-section-nav__menu {
            font-size: 18px;
            line-height: 30px;
        }
    }

    .article-section-nav .article-section-nav__menu:after {
        clear: both;
        content: "";
        display: table;
    }

    .article-section-nav .article-section-nav__menu li {
        position: relative;
        display: inline-block;
        float: left;
        width: 38px;
        height: 38px;
        line-height: 38px;
        vertical-align: middle;
        text-align: center;
        margin: 0 3px 3px 0;
        background-color: #005EB8;
    }

    .article-section-nav .article-section-nav__menu li a {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        color: #FFFFFF;
    }

    .article-section-nav .article-section-nav__menu li:hover a,
    .article-section-nav .article-section-nav__menu li:focus a {
        text-decoration: none;
    }

    .article-section-nav .article-section-nav__menu li.is-disabled {
        cursor: not-allowed;
        pointer-events: none;
        background-color: #CBCBCB;
    }

    .article-section-nav .article-section-nav__menu li.is-disabled a {
        color: #666666;
        text-decoration: none;
    }

    @media (max-width: 924px) {
        .article-section-nav .article-section-nav__menu li {
            margin: 0 4px 4px 0;
        }
    }

    .article-section-nav+.article-section-nav {
        margin-top: 48px;
    }


    .callout {
        padding: 16px;
        margin-bottom: 0;
    }

    @media (min-width: 925px) {
        .callout {
            padding: 32px;
        }
    }

    .callout:focus {
        outline: 3px solid #FFB81C;
    }

    .callout--attention {
        border: 8px solid #005EB8;
    }


    .nhsuk-caption-xl {
    font-size: 27px;
    display: block;
    color: #768692;
  }


@mixin label ($label-background: #DEE0E2, $label-border: #CBCBCB, $label-text: #0B0C0C) {
    background: $label-background;
    color: #FFF;
    display: inline-block;
    line-height: 1;
    padding: 5px;
    margin: 0 calc(2 * #{5px}) 5px 5px;
    text-align: left;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}
.label {
    @include label(#6F777B, #0B0C0C)
}
.label--white {
    @include label(#FFF);
    color: #0B0C0C;
    border: 1px solid #CBCBCB;
}
.label--blue {
    @include label(#005EA5, #005EA5)
}

.label--red {
    @include label(#B10E1E, #B10E1E)
}

@media (max-width: 641px) {
  .label, .label--white, .label--blue, .label--red {
    font-size: .85rem;
  }
}

.confirmation {
  img {
    max-width: 100%;
    height: auto;
  }
}
.confirm-desktop{
  display: block;
}

.confirm-mobile{
   display: none;
}

@media screen and ( max-width: 640px ) {
   .confirm-desktop{
     display: none;
   }

   .confirm-mobile{
     display: block;
   }
}

.flash-card {
  margin-top: 1em;
  padding: 30px;
  background: #005EA5;
  color: #FFF;

  header {
    background-color: inherit;
  }

  p {
    margin-left: 32px;
  }

  ul.how-to-renew {
    padding-left: 0;
    list-style: none;

    h2 {
      margin: 0;
      margin-bottom: 0;
      padding: 0;
      color: #FFF;
      font-size: 28px;
    }

    li {
      margin-bottom: 22px;
    }
  }

  h1 {
    color: #FFF;
    &:first-of-type {
      margin-top: 0 !important;
    }
  }

  a {
    color: #FFF;
    &:visited, &:hover, &:active {
      color: #FFF; }
    }
    details {
      // margin-bottom: 1em;
      summary {
        color: #FFF;
      }
      .panel {
        border-left-color: #FFF;
      }
    }
  }

  @media (min-width: 769px) {
    .flash-card {
      margin-top: 1.25em;
      padding: 35px 50px;
    }
  }

.circle-white {
  color: #005ea5;
  background: #fff;
  float: left;
  margin-right: 15px;
}

.circle-step {
  min-width: 24px;
  min-height: 24px;
  line-height: 24px;
}

.circle {
  margin-top: 6px;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-family: 'Inter UI', sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
.ogl-footer {
 background-color:#d8dde0
}
.ogl-text {
 font-weight:400;
 font-size:14px;
 font-size:.875rem;
 line-height:1.71429;
 color:#425563;
 margin-bottom:0;
 padding-bottom:24px
}
@media (min-width: 40.0625em) {
 .ogl-text {
  font-size:16px;
  font-size:1rem;
  line-height:1.5
 }
}
@media print {
 .ogl-text {
  font-size:14pt;
  line-height:1.2
 }
}
.ogl-text svg {
 margin-right:8px;
 position:relative;
 top:2px
}
.bsa-footer__heading {
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin-bottom: 10px;
  margin-top: 0;
}

@media print {
  .bsa-footer__heading {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .bsa-footer__heading {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .bsa-footer__heading {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.bsa-footer__list {
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14286;
  color: #454a4c;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media print {
  .bsa-footer__list {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .bsa-footer__list {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}

@media print {
  .bsa-footer__list {
    font-size: 14pt;
    line-height: 1.2;
  }
}

.bsa-footer__list-item {
  margin-bottom: 5px;
}

.bsa-footer__link:link, .bsa-footer__link:visited {
  color: #454a4c;
}

.bsa-footer__link:hover, .bsa-footer__link:active, .bsa-footer__link:focus {
  color: #171819;
}
.nhsuk-section-break--visible, .app-prose-scope hr {
  border-bottom: 1px solid #bfc1c3;
}
.nhsuk-footer__builtby{
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.71429;
  color: #425563;
  margin-bottom: 0; }
  @media (min-width: 40.0625em) {
    .nhsuk-footer__builtby {
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.5; } }
  @media print {
    .nhsuk-footer__builtby {
      font-size: 14pt;
      line-height: 1.2; } }
  @media (min-width: 48.0625em) {
    .nhsuk-footer__builtby {
      } }


// Details

.details-margin-btm {
  margin-bottom: 30px;
}

details.details-interruption {
  background-color: inherit;

  summary {
    padding-left: 0;
  }
}

details.code-details {
    background-color: #FFF;
    border: 1px solid #768692;
    padding: 10px;
    margin-top: -1px;

    summary {
      padding-left: 10px;
    }
}

details summary {
    display: inline-block;
    color: #005ea5;
    cursor: pointer;
    position: relative;
    font-family: 'Inter UI', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.45;
}


.article-section-nav {

  h2 {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.25;
    font-weight: 600;
    color: #4c6272;
    margin-bottom: 12px;
    padding-top: 4px;
  }

  .article-section-nav__list {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.3;
    padding: 0;
    margin: 0;

    li {

      a {
        font-weight: 400;
        text-decoration: none;
      }
    }
  }

}


.header-space {
  margin-top: 12px;
  margin-bottom: 12px;
}