{% extends 'layouts/layout-bsa-design-system.html' %}

{% set active = "community" %}
{% set activesub = "backlog" %}

{% block pageTitle %}
Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}

{{ breadcrumb({
    href: "/index",
    text: "Home"
}) }}


{% endblock %}

{% block content %}


<div class="nhsuk-grid-row">
    {% include "includes/left-pane__contribute.html" %}
    
    

    <div class="nhsuk-grid-column-two-thirds">
        <span class="nhsuk-caption-xl">Community</span>
        <h1 class="nhsuk-heading-xl">Backlog</h1>


        <p>The Design System has an open backlog on <a href="https://github.com/nhsbsa/design-system/projects/1">GitHub</a>. Anyone can propose, develop or contribute to new patterns and components, or improvements to existing ones.</p>

        <p>To contribute, you can create and comment on an <a href="https://github.com/nhsbsa/design-system/issues">issue in GitHub</a>.</p>

<!--        <p>The best place to discuss patterns and components is on Slack.</p>-->
    </div>

    <!--
        /**
         * sticky-sidebar - A JavaScript plugin for making smart and high performance.
         * @version v3.3.1
         * @link https://github.com/abouolia/sticky-sidebar
         * @author Ahmed Bouhuolia
         * @license The MIT License (MIT)
         **/
-->

</div>
{% endblock %}
