{% extends 'layouts/layout-bsa-design-system.html' %}

{% block pageTitle %}
Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}

{{ breadcrumb({
      items: [
        {
          href: "/index",
          text: "Home"
        }
        
      ],
       href: "/design-system/community",
       text: "Community"
       
}) }}

{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
    {% include "includes/left-pane__contribute.html" %}
    
    

    <div class="nhsuk-grid-column-two-thirds">
        <h1>Community</h1>

        <p class="nhsuk-body-l">This design system is for everyone. It's purpose is to extend the <a href="https://beta.nhs.uk/service-manual/">NHS.UK Service Manual </a> with work specific to the NHS Business Services Authority.</p>
        
        <p>Patterns or components that have a wider use will be shared with the NHS.UK and GOV.UK Design System so they can be used by delivery teams across government.</p>

        <p>Find out:</p>
        <ul>
            <li>what is currently being worked on in the <a href="community/backlog">backlog</a></li>
            <li>how to <a href="community/contribute">propose a component or pattern</a></li>
            <li>how to <a href="community/using-patterns">use the system</a></li>
        </ul>

    </div>

    <!--
        /**
         * sticky-sidebar - A JavaScript plugin for making smart and high performance.
         * @version v3.3.1
         * @link https://github.com/abouolia/sticky-sidebar
         * @author Ahmed Bouhuolia
         * @license The MIT License (MIT)
         **/
-->

</div>
{% endblock %}
