{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">
    <nav class="side-nav dft-sidebar disable-side-bar-">
        <ul>
            <li class="side-nav__item active">
                <a href="#">Dashboard</a>
            </li>
            <li class="side-nav__item ">
                <a href="#">Prescriptons</a>
            </li>
            <li class="side-nav__item ">
                <a href="#">Advanced Services</a>
            </li>
            <li class="side-nav__item ">
                <a href="#">Audits and questionnaires</a>
            </li>
        </ul>
    </nav>
</main>
{% endblock %}