{% extends 'layouts/layout-bsa-design-system.html' %}
{% set active = "pages" %}
{% set activesub = "feedback" %}

{% block pageTitle %}
Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}

{{ breadcrumb({
    href: "/index",
    text: "Home"
}) }}

{% endblock %}

{% block content %}

    <div class="nhsuk-grid-row">
        {% include "includes/left-pane__pages.html" %}
        
        
        <div class="nhsuk-grid-column-two-thirds">
        <span class="nhsuk-caption-xl">Patterns</span>
          <h1 class="heading-section">Feedback</h1>
          <p class="nhsuk-body-l">example of component on a page.</p>
        
    <h3 class="nhsuk-u-visually-hidden"></h3>
           <div class="example example-images confirmation details-margin-btm">
       
         
            <form action="#" method="get">
    
                <div class="nhsuk-form-group">
    
                   
    
                </div>
    
                <input type="submit" class="nhsuk-button" value="Continue">
    
            </form>
               </div>
        </div>
    
        {% endblock %}