{% extends 'layouts/layout-bsa-design-system.html' %}

{% block pageTitle %}
Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}

{{ breadcrumb({
    href: "/index",
    text: "Home"
}) }}

{% endblock %}

{% block content %}


<div class="nhsuk-grid-row">
    {% include "includes/left-pane__pages.html" %}
    
    

    <div class="nhsuk-grid-column-two-thirds">
        <h1>Pages</h1>

        <p class="nhsuk-body-l">These pages are common across the NHSBSA. These can be used as templates to get you going.</p>
        
        <p>Sometimes a service may have a more complex need than the templates listed here, and we welcome any research on these, such as international and company addresses.</p>

    </div>
    

</div>

{% endblock %}
