{% extends 'layouts/layout-bsa-design-system.html' %}
{% set active = "pages" %}
{% set activesub = "NHS number" %}

{% block pageTitle %}
Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}

{% include "includes/breadcrumbs__pages.html" %}

{% endblock %}

{% block content %}


<div class="nhsuk-grid-row">
    {% include "includes/left-pane__pages.html" %}
    
    
    <div class="nhsuk-grid-column-two-thirds">
    <span class="nhsuk-caption-xl">Patterns</span>
      <h1 class="heading-section">NHS number</h1>
      <p class="nhsuk-body-l">A default view of a case in a caseworking system.</p>
    
<h3 class="nhsuk-u-visually-hidden">NHS number page example- Do you know it?</h3>
       <div class="example example-images confirmation details-margin-btm">
   
     
        <form action="#" method="get">

            <div class="nhsuk-form-group">

                <fieldset class="nhsuk-fieldset" aria-describedby="gov-hint">
                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
                        <h1 class="nhsuk-fieldset__heading">
                            Do you know your NHS number?
                        </h1>
                    </legend>

                    <span class="nhsuk-hint" id="gov-hint">
                        <p> Your NHS number is a 10 digit number, for example 485 777 3456 </p>
                        <p>You can find your NHS number on any letter sent to you by the NHS, on your prescriptions or by logging in to your GP practice online service</p>
                    </span>

                    <div class="nhsuk-radios">
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="gov-1" name="gov" type="radio" value="yes">
                            <label class="nhsuk-label nhsuk-radios__label" for="gov-1">
                                Yes, I know my NHS number
                            </label>
                        </div>
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="gov-2" name="gov" type="radio" value="no">
                            <label class="nhsuk-label nhsuk-radios__label" for="gov-2">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>

            </div>

            <input type="submit" class="nhsuk-button" value="Continue">

        </form>
           </div>
    </div>

    {% endblock %}