/*------------------------------------*\
Side navigation
\*------------------------------------*/
// Component styles
.side-nav {
    font-size: 19px;
    float: left;
    background: #E8EDEE;
    width: 100%;
    color: #005eb8;
    overflow: hidden;
    height: 100vh;

    &.open {
        height: auto;
    }

    @media (min-width: 769px) {
        width: 300px;
        height: calc(100vh - 88px);
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.side-nav {

    a {
        text-decoration: none;
        color: inherit;

        &:focus {
            background: none;
            outline: none;
        }
    }
}

.side-nav__item {

    @media(min-width: 769px) {
        display: block;
    }

    &:first-of-type {
        padding-top: 0;

        &.active {
            border-top: 1px solid #ffffff;
        }
    }

    &.active, &:hover {
        a {
            .counter {
                color: white;
                background: #0f3575;
            }
        }
    }

    &.open {
        display: block;
    }

    &.active {
        display: block;

        a {
            background: #005eb8;
            color: #ffffff;
        }
    }

    a {
        font-weight: 400;
        display: block;
        overflow: hidden;
        padding: 15px;
        position: relative;
        border-bottom: 1px #cccccc solid;

        @media(min-width: 769px) {
            padding: 20px 40px 20px 30px;
        }

        .counter {
            position: absolute;
            display: inline-block;
            right: 14px;
            top: 14px;
            font-size: 14px;
            background: white;
            padding: 5px;
            border-radius: 3px;
            min-width: 16px;
            text-align: center;
            line-height: 1;

            @media(min-width: 769px) {
                top: 17px;
                right: 12px;
            }
        }

        &:hover {
            background: #005eb8;
            color: #ffffff;
        }

    }
}