<div class="grid-row">
  <div class="column-full">
      <h2 class="heading-medium">Pharmacy activity summary</h2>
      <div class="nhsuk-cases">
          <div class="nhsuk-case nhsuk-case--urgent">
              <div class="nhsuk-case__header">
                  <div class="nhsuk-case__header__name">September</div>
                  <div class="nhsuk-case__header__dates"></div>
                  <div class="nhsuk-case__header__actions">
                      <div class="nhsuk-case__header__link">
                          <a href="#">Start submission</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="nhsuk-case">
              <div class="nhsuk-case__header">
                  <div class="nhsuk-case__header__name">August</div>
                  <div class="nhsuk-case__header__dates"></div>
                  <div class="nhsuk-case__header__actions">
                      <div class="nhsuk-case__header__link">
                          <a href="#">View Case</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="nhsuk-case">
              <div class="nhsuk-case__header">
                  <div class="nhsuk-case__header__name">July</div>
                  <div class="nhsuk-case__header__dates"></div>
                  <div class="nhsuk-case__header__actions">
                      <div class="nhsuk-case__header__link">
                          <a href="#">View Case</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>