<div class="nhsuk-grid-row nhsuk-panel-group">
    <div class="nhsuk-grid-column-one-quarter nhsuk-panel-group__item">

        <div class="nhsuk-panel">
            <div class="nhsuk-panel__number">5</div>
            <div class="nhsuk-panel__description">EPS items</div>
            <a href="#">Add information</a>
        </div>

    </div>
    <div class="nhsuk-grid-column-one-quarter nhsuk-panel-group__item">

        <div class="nhsuk-panel">
            <div class="nhsuk-panel__number">3</div>
            <div class="nhsuk-panel__description">Paper items</div>
            <a href="#">Add information</a>
        </div>

    </div>
</div>