<ul class="grid-grid">
    <li>
        <a class="link-wrap" href="#">
            <div class="bsa-card">
                <div class="bsa-card__content">
                    <h2 class="heading-medium h2-card">Heading</h2>
                    <p class="card-info">Text</p>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a class="link-wrap" href="#">
            <div class="bsa-card">
                <div class="bsa-card__content">
                    <h2 class="heading-medium h2-card">Heading</h2>
                    <p class="card-info">Text</p>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a class="link-wrap" href="#">
            <div class="bsa-card">
                <div class="bsa-card__content">
                    <h2 class="heading-medium h2-card">Heading</h2>
                    <p class="card-info">Text</p>
                </div>
            </div>
        </a>
    </li>
</ul>