<nav class="side-nav dft-sidebar disable-side-bar-" id="side-menu-with-headings">
    <ul>
        <li>
            <h3 class="heading-small list-head"> Dashboard </h3>
        </li>
        <li class="side-nav__item active ">
            <a class="list-text" href="#">Prescriptons</a>
        </li>
        <li class="side-nav__item ">
            <a class="list-text" href="#">Advanced Services</a>
        </li>
        <li class="side-nav__item ">
            <a class="list-text" href="#">Audits and questionnaires</a>
        </li>
        <li>
            <h3 class="heading-small list-head"> Dashboard 2 </h3>
        </li>
        <li class="side-nav__item ">
            <a class="list-text" href="#">Search</a>
        </li>
        <li class="side-nav__item ">
            <a class="list-text" href="#">Service Information</a>
        </li>

    </ul>
</nav>