<nav class="side-nav dft-sidebar disable-side-bar-" id="counter-sidenav">
    <ul>
        <li class="side-nav__item active">
            <a href="#">Dashboard <span class="counter">3</span></a>
        </li>
        <li class="side-nav__item ">
            <a href="#">Prescriptons <span class="counter">8</span> </a>
        </li>
        <li class="side-nav__item ">
            <a href="#">Advanced Services <span class="counter">16</span> </a>
        </li>
        <li class="side-nav__item ">
            <a href="#">Audits and questionnaires</a>
        </li>
    </ul>
</nav>