<div class="row">
    <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsbsa-timeline">
            <div class="nhsbsa-timeline__item">
                <div class="nhsbsa-timeline__header">
                    <h2 class="nhsbsa-timeline__title">
                        Response submitted
                    </h2>
                    <p class="nhsbsa-timeline__by">by DWP Appeals Officer</p>
                </div>

                <p class="nhsbsa-timeline__date"><time datetime="2018-01-25T14:04">25 Jan 2018 at 14:04pm</time></p>
                <p class="nhsbsa-timeline__description">This is a description of the event. And this is what happens when it is long.</p>
                <ul class="nhsbsa-timeline__documents">
                    <li class="nhsbsa-timeline__document-item"><a class="nhsbsa-timeline__document-link" href="#1">Statement of information</a></li>
                    <li class="nhsbsa-timeline__document-item"><a class="nhsbsa-timeline__document-link" href="#2">Another document</a></li>
                </ul>
            </div>

            <div class="nhsbsa-timeline__item">

                <div class="nhsbsa-timeline__header">
                    <h2 class="nhsbsa-timeline__title">
                        Appeal marked as compliant
                    </h2>
                    <p class="nhsbsa-timeline__by">by DJ DeVere</p>
                </div>

                <p class="nhsbsa-timeline__date"><time datetime="2017-12-05T09:10">5 Dec 2017 at 9:10am</time></p>
                <p class="nhsbsa-timeline__description">This is a description of the event. And this is what happens when it is long.</p>
                <ul class="nhsbsa-timeline__documents">
                    <li class="nhsbsa-timeline__document-item"><a class="nhsbsa-timeline__document-link" href="#3">Statement of information</a></li>
                </ul>
            </div>

            <div class="nhsbsa-timeline__item">
                <div class="nhsbsa-timeline__header">
                    <h2 class="nhsbsa-timeline__title">
                        Interlocutory referral to DJ DeVere
                    </h2>
                    <p class="nhsbsa-timeline__by">by DLC Admin</p>
                </div>
                <p class="nhsbsa-timeline__date"><time datetime="2017-11-20T14:27">20 Nov 2017 at 14:27pm</time></p>
                <p class="nhsbsa-timeline__description">This is a description of the event. And this is what happens when it is long.</p>
            </div>
        </div>
    </div>
</div>