 
  <div class="form-group">
    <table>
       <thead>
          <tr><th>Verified criteria</th>
             <th></th>
             <th></th>
          </tr>
       </thead>
       <tbody>
          <tr>
             <td>
                <details role="group">
                   <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">Advanced Services</span></summary>
                   <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
                      <p>
                         Your pharmacy must be offering Medicine Use Reviews (MUR) or New Medicine Service (NMS), or must be registered for the NHS Urgent Medicine Supply
                         Advanced Service (CPCS) Pilot.
                      </p>
                   </div>
                </details>
             </td>
            <td valign="top" style="text-align:right"><strong class="met-tag app-task-list__task-completed" id="eligibility-completed">Verified</strong></td>
          </tr>
          <tr>
             <td>
                <details role="group">
                   <summary role="button" aria-controls="details-content-1" aria-expanded="false"><span class="summary">NHSmail</span></summary>
                   <div class="panel panel-border-narrow" id="details-content-1" aria-hidden="true">
                      <p>
                         Pharmacy staff at the pharmacy must be able to send and receive NHSmail from their shared NHSmail account, which must
                         have at least two live linked accounts.
                      </p>
                   </div>
                </details>
             </td>
             <td valign="top" style="text-align:right"><strong class="met-tag app-task-list__task-completed" id="eligibility-completed">Verified</strong></td>
          </tr>
       </tbody>
    </table>
  </div>
  
  <div class="form-group">
  
    <div class="panel panel-border-wide">
  <p>
  If you believe your pharmacy has not met one of the criteria we have verified contact us:
  <a href="">nhsbsa.pharmacysupport@nhs.net</a>
  </p>
  </div>
  <div class="form-group">
  <table>
  <thead>
  <tr><th>Outstanding criteria</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td width="70%">
       <details role="group">
          <summary role="button" aria-controls="details-content-2" aria-expanded="false"><span class="summary">NHS.UK</span></summary>
          <div class="panel panel-border-narrow" id="details-content-2" aria-hidden="true">
             <p>
                Your pharmacy's NHS website entry must be up to date, including: opening hours, bank holidays, services provided and facilities.</p>                              <p></p>
          </div>
       </details>
    </td>
    <td valign="top" style="text-align:right"><strong class="met-tag app-task-list__task-completed" id="eligibility-completed">Not verified</strong></td>
  </tr>
  </tbody>
  </table>
  </div>
  <p>You must meet these criteria before you can continue</p>
  </div>
  <div class="form-group">
    <p>
       <a class="button" disabled="" href="#" role="button">Continue</a>
    </p>
  </div>
  