{% extends 'layouts/layout-bsa-design-system.html' %}

{% block pageTitle %}
Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}

{{ breadcrumb({
    href: "/index",
    text: "Home"
}) }}

{% endblock %}

{% block content %}


<div class="nhsuk-grid-row">
    {% include "includes/left-pane__patterns.html" %}
    
    

    <div class="nhsuk-grid-column-two-thirds">
        <h1>Patterns</h1>

        <p class="nhsuk-body-l">Patterns are guides on how to solve certain types of problems. These are examples of successful approaches used within the NHSBSA.</p>
        
        <p>These patterns extend those used across Government and the NHS.</p>
        <ul class="list-bullet">
            <li><a href="https://design-system.service.gov.uk/patterns/">GOV.UK design system</a></li>
            <li><a href="https://beta.nhs.uk/service-manual/styles-components-patterns">NHS.UK service manual</a></li>
        </ul>
    </div>

{% endblock %}
