{% extends 'layouts/layout-bsa-design-system.html' %}
{% set active = "patterns" %}
{% set activesub = "Support" %}

{% block pageTitle %}
Support - NHSBSA design system
{% endblock %}

{% block beforeContent %}

{% include "includes/breadcrumbs__patterns.html" %}

{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
    {% include "includes/left-pane__patterns.html" %}
     
    <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-caption-xl">Patterns</span>
      <h1 class="heading-section">Support</h1>
      <p class="nhsuk-body-l">Provide information to users who encounter a problem and need help.</p>

      <div class="example example-images confirmation" style="margin-bottom: 2em;">
        <img src="/images/support.svg" class="confirm-desktop" alt="">
        <img src="/images/support-mobile.svg" class="confirmation confirm-mobile" alt="">
      </div>

      <h2 class="nhsuk-heading-m">Guidance</h2>
      <h3 class="nhsuk-heading-s">It can be used:</h3>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>as part of an error page</li>
        <li>as part of feedback</li>
      </ul>

      <h3 class="nhsuk-heading-s">The support pattern should:</h3>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>give a number of options for how the user reports a problem</li>
        <li>always be available to users</li>
        <li>clearly say what time support is available</li>
      </ul>


    </div>
  </main>
</div>

{% endblock %}
