{% extends 'layouts/layout-bsa-design-system.html' %}
{% set active = "resoucres" %}
{% set activesub = "Accessibility" %}

{% block pageTitle %}
Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}

{% include "includes/breadcrumbs__resources.html" %}

{% endblock %}


{% block content %}


<div class="nhsuk-grid-row">
    {% include "includes/left-pane__resources.html" %}
    

    <div class="nhsuk-grid-column-two-thirds">
       
        <span class="nhsuk-caption-xl">Resources</span>
        <h1 class="nhsuk-heading-xl">Accessibility </h1>

        <p class="nhsuk-body-l">Help your service meet it's accessibility requirements. </p>
        <p>If your service isn't accessible it doesn't meet NHSBSA standards.</p>



        <h2>GOV.UK accessibility guidance</h2>
        <ul>
            <li>
                <a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service">Helping people to use your service</a>
            </li>
            <li>
                <a href="https://www.gov.uk/service-manual/technology/testing-for-accessibility">Testing for accessibility</a>
            </li>
            <li>
                <a href="https://gds.blog.gov.uk/2018/06/20/creating-the-uk-governments-accessibility-empathy-lab/">
                    Using the empathy lab at GDS
                </a>
            </li>
            <li>
                <a href="https://www.gov.uk/government/publications/understanding-disabilities-and-impairments-user-profiles" target="_blank">
                    User profiles for understanding disabilities and impairments
                </a>
            </li>
        </ul>

        <h2>Other tools</h2>
        <ul>
            <li>
                <a href="https://ukhomeoffice.github.io/accessibility-posters/" target="_blank">
                    Do's and don'ts for designing accessible services
                </a>
            </li>
            <li>
                <a href="https://github.com/UKHomeOffice/posters/tree/master/accessibility" target="_blank">
                    Access needs poster set
                </a>
            </li>
            <li>
                <a href="http://webaim.org/resources/contrastchecker/" target="_blank">
                    Colour contrast checker
                </a>
            </li>
            <li>
                <a href="https://help.apple.com/voiceover/info/guide/10.12/" target="_blank">
                    Guide for VoiceOver screenreader
                </a>
            </li>
            <li>
                <a href="http://wave.webaim.org/" target="_blank">
                    WAVE accessibility evaluation tool
                </a>
            </li>
        </ul>

    </div>

</div>
{% endblock %}
