{% extends 'layouts/layout-bsa-design-system.html' %}
{% set active = "resoucres" %}
{% set activesub = "GOV UK" %}

{% block pageTitle %}
Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}

{% include "includes/breadcrumbs__resources.html" %}

{% endblock %}

{% block content %}


<div class="nhsuk-grid-row">
    {% include "includes/left-pane__resources.html" %}
    

    <div class="nhsuk-grid-column-two-thirds">
        <span class="nhsuk-caption-xl">Resources</span>
        <h1 class="nhsuk-heading-xl">Guidance on GOV.UK</h1>

        <p>Resources available across government.</p>
        <ul class="resource-list">
            <li>
                <a href="https://design-system.service.gov.uk/">
                    GOV.UK design system
                </a>
            </li>
            <li>
                <a href="https://www.gov.uk/design-principles">
                    GOV.UK design principles
                </a>
            </li>
            <li>
                <a href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style">
                    GOV.UK content style guide
                </a>
            </li>
            <li>
                <a href="https://www.gov.uk/service-manual">
                    GOV.UK service manual
                </a>
            </li>
        </ul>
    </div>

</div>
<!--
        /**
         * sticky-sidebar - A JavaScript plugin for making smart and high performance.
         * @version v3.3.1
         * @link https://github.com/abouolia/sticky-sidebar
         * @author Ahmed Bouhuolia
         * @license The MIT License (MIT)
         **/
-->

</div>
{% endblock %}
