{% extends 'layouts/layout-bsa-design-system.html' %}

{% block pageTitle %}
Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}


  {{ breadcrumb({
      href: "/index",
      text: "Home"
  }) }}


{% endblock %}

{% block content %}


<div class="nhsuk-grid-row">
    {% include "includes/left-pane__resources.html" %}
    

    <div class="nhsuk-grid-column-two-thirds">
        <h1>Resources</h1>

      <p class="nhsuk-body-l">A collection of resources to help teams design and build services in Government and the NHS.</p>
      <p>Resources cover:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>how to design and build <a href="resources/accessibility">accessible</a> services</li>
        <li>helpful resources from across <a href="resources/gov">government</a> and <a href="resources/nhsuk"> the NHS</a></li>
        <li>tools to help build <a href="resources/prototyping">prototypes</a></li>   
        <li>reusable <a href="resources/templates">templates</a></li>   
      </ul>

    </div>
<!--
        /**
         * sticky-sidebar - A JavaScript plugin for making smart and high performance.
         * @version v3.3.1
         * @link https://github.com/abouolia/sticky-sidebar
         * @author Ahmed Bouhuolia
         * @license The MIT License (MIT)
         **/
-->

</div>
{% endblock %}
