{% extends 'layouts/layout-bsa-design-system.html' %}
{% set active = "resoucres" %}
{% set activesub = "NHS UK" %}

{% block pageTitle %}
Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}

{% include "includes/breadcrumbs__resources.html" %}

{% endblock %}

{% block content %}


<div class="nhsuk-grid-row">
    {% include "includes/left-pane__resources.html" %}
    

    <div class="nhsuk-grid-column-two-thirds">
        <span class="nhsuk-caption-xl">Resources</span>
        <h1 class="nhsuk-heading-xl">Guidance on NHS.UK</h1>

        <p>Resources available across the NHS.</p>
        <ul class="resource-list">
            <li>
                <a href="https://beta.nhs.uk/service-manual/styles-components-patterns">
                    NHS.UK design system
                </a>
            </li>
            <li>
                <a href="https://beta.nhs.uk/service-manual/design-principles">
                    NHS.UK design principles
                </a>
            </li>
            <li>
                <a href="https://beta.nhs.uk/service-manual/content">
                    NHS.UK content style guide
                </a>
            </li>
            <li>
                <a href="https://beta.nhs.uk/service-manual/">
                    NHS.UK service manual
                </a>
            </li>
        </ul>
    </div>

</div>
<!--
        /**
         * sticky-sidebar - A JavaScript plugin for making smart and high performance.
         * @version v3.3.1
         * @link https://github.com/abouolia/sticky-sidebar
         * @author Ahmed Bouhuolia
         * @license The MIT License (MIT)
         **/
-->

</div>
{% endblock %}
