{% extends 'layouts/layout-bsa-design-system.html' %}
{% set active = "resoucres" %}
{% set activesub = "Prototyping" %}

{% block pageTitle %}
Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}

{% include "includes/breadcrumbs__resources.html" %}

{% endblock %}

{% block content %}


<div class="nhsuk-grid-row">
    {% include "includes/left-pane__resources.html" %}
    
    <div class="nhsuk-grid-column-two-thirds">
        <span class="nhsuk-caption-xl">Resources</span>
        <h1 class="nhsuk-heading-xl">Prototyping</h1>

        <p class="nhsuk-body-l">Helpful resources for prototyping.</p>
        
        <ul>
            <li>
                <a href="https://github.com/alphagov/nhsuk-prototype-kit">
                    GOV.UK prototype kit
                </a>
            </li>
            <li>
                <a href="https://github.com/UKHomeOffice/ho-style-prototype-kit">
                    GOV.UK prototype kit with Home Office styles
                </a>
            </li>
            <li>
                <a href="https://github.com/abbott567/sketch_wireframing_kit">
                    Sketch file with GOV.UK patterns and components
                </a>
            </li>
            <li>
                <a href="https://github.com/charlesrt/gov-flow">
                    GOV flow for creating user flows
                </a>
            </li>
            <li>
                <a href="https://github.com/abbott567/validation-for-prototypes">
                    Validation for prototypes
                </a>
            </li>
        </ul>

    </div>
</div>

</div>
<!--
        /**
         * sticky-sidebar - A JavaScript plugin for making smart and high performance.
         * @version v3.3.1
         * @link https://github.com/abouolia/sticky-sidebar
         * @author Ahmed Bouhuolia
         * @license The MIT License (MIT)
         **/
-->

</div>
{% endblock %}
