{% extends 'layouts/layout-bsa-design-system.html' %}
{% set active = "resoucres" %}
{% set activesub = "template" %}

{% block pageTitle %}
Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}


{{ breadcrumb({
    href: "/index",
    text: "Home"
}) }}



{% endblock %}

{% block content %}


<div class="nhsuk-grid-row">
    {% include "includes/left-pane__resources.html" %}
    

    <div class="nhsuk-grid-column-two-thirds">
        <span class="nhsuk-caption-xl">Resources</span>
        <h1 class="nhsuk-heading-xl">Templates</h1>

        <p class="nhsuk-body-l">Helpful templates and when to use them.</p>
        
        <ul>
            <li>
                <a href="">
                    Hypothesis
                </a>
            </li>
            <li>
                <a href="">
                    Personas
                </a>
            </li>
            <li>
                <a href="">
                    UX/UR board
                </a>
            </li>
            <li>
                <a href="">
                    ?
                </a>
            </li>
        </ul>

    </div>
</div>

</div>
<!--
        /**
         * sticky-sidebar - A JavaScript plugin for making smart and high performance.
         * @version v3.3.1
         * @link https://github.com/abouolia/sticky-sidebar
         * @author Ahmed Bouhuolia
         * @license The MIT License (MIT)
         **/
-->

</div>
{% endblock %}
