{% extends 'layouts/layout-bsa-design-system.html' %}
{% set active = "components" %}
{% set activesub = "alerts" %}

{% block pageTitle %}
Alerts - NHSBSA design system
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
    {% include "includes/left-pane__components.html" %}
   
    <div class="nhsuk-grid-column-two-thirds">

      <span class="nhsuk-caption-xl">Components</span>
      <h1 class="heading-section">Currency</h1>
      <p class="nhsuk-body-l">Help users enter an amount of money in a specified currency.</p>
      

      <h2 class="nhsuk-u-visually-hidden" id="example-component">Example checkbox component</h2>
      <div class="example example-images">
        <div class="nhsuk-grid-row">
          {% include "includes/components/currency.html" %}
        </div>
      </div>


      <h2 class="nhsuk-heading-m">When to use this component</h2>
      <p>Use the currency input component when you need users to tell you an amount of money in a particular currency, for example pounds sterling, euros or dollars.</p>
      
      <h2 class="nhsuk-heading-m">How to use this component</h2>
      <p>The component uses <code>type=”text”</code> rather than <code>type=number</code> to ensure that all users can enter the decimal symbol. And the pattern attribute is used to trigger a numeric keypad on iOS devices. Find out more in <a href="https://adamsilver.io/articles/form-design-when-to-use-the-number-input/">when to use the number input</a>.</p>
      
      <p>The input does not prevent users from typing invalid numbers because that makes the interface seem unresponsive. Instead rely on clear labels, hints and error messages.</p>

      <p>The currency symbol is styled differently to the input so that users don’t confuse it with the input’s value.</p>


      <h2 class="nhsuk-heading-m">User research</h2>
      <p>LIS found that people do not include pence.....</p>

      <h2 class="nhsuk-heading-m">Services using this pattern</h2>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>LIS</li>

      </ul>

    </div>
</div>

{% endblock %}
