{% extends 'layouts/layout-bsa-design-system.html' %}
{% set active = "components" %}
{% set activesub = "Labels" %}

{% block pageTitle %}
Back - NHSBSA design system
{% endblock %}

{% block beforeContent %}

{% include "includes/breadcrumbs__components.html" %}

{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
    {% include "includes/left-pane__components.html" %}
   
    <div class="nhsuk-grid-column-two-thirds">

      <span class="nhsuk-caption-xl">Components</span>
      <h1 class="heading-section">Labels</h1>
      <p class="nhsuk-body-l">Labels are used to quickly identify commonly grouped or related items.</p>

      <h2 class="nhsuk-visually-hidden" id="example-component">Example label component</h2>

      <div class="example example-images">
        <div class="nhsuk-grid-row">
          {% include "includes/components/labels.html" %}
        </div>
      </div>

      <details class="code-details">
        <summary>HTML</summary>
        <pre><code class="html">{% filter escape %}{% include "includes/components/labels.html" %}{% endfilter %}</code></pre>
      </details>
      <details class="code-details details-margin-btm">
        <summary>CSS</summary>
        <pre><code class="css">{% filter escape %}{% include "includes/css/labels.scss" %}{% endfilter %}</code></pre>
      </details>

      <h2 id="interaction" class="nhsuk-heading-m">When to use labels</h2>
      <p>Labels help users identify grouped content. They are for quick referencing so should change as the status of a thing changes.</p>

      <h2 id="interaction" class="nhsuk-heading-m">How to use labels</h2>
      <p>Labels should be single words and use plain English to describe the grouping. We recommended that labels are lowercase.</p>
      <p>Colour combinations should meet the minimum contrast levels for WCAG AA.</p>

      <h2 id="research" class="nhsuk-heading-m">User research</h2>
      <p>Adding labels to everything is counterintuative</p>

      <h2 class="nhsuk-heading-m">Services using this pattern</h2>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Home Office Communications (HOC)</li>
        <li>Syrian Refugee Resettlement Service</li>
      </ul>

    </div>
  </main>
</div>

{% endblock %}
