{% extends 'layouts/layout-bsa-design-system.html' %}
{% set active = "components" %}
{% set activesub = "Status" %}

{% block pageTitle %}
Back - NHSBSA design system
{% endblock %}

{% block beforeContent %}

{% include "includes/breadcrumbs__components.html" %}

{% endblock %}


{% block content %}

<div class="nhsuk-grid-row">
    {% include "includes/left-pane__components.html" %}
   
    <div class="nhsuk-grid-column-two-thirds">

      <span class="nhsuk-caption-xl">Components</span>
      <h1 class="heading-section">Status message</h1>
      <p class="nhsuk-body-l">An indication to the user that something has changed.</p>

      <div class="example example-images">
        <div class="nhsuk-grid-row">
          {% include "includes/components/status.html" %}
        </div>
      </div>
      <details class="code-details">
        <summary>HTML</summary>
        <pre><code class="html">{% filter escape %}{% include "includes/components/status.html" %}{% endfilter %}</code></pre>
      </details>
      <details class="code-details details-margin-btm">
        <summary>CSS</summary>
        <pre><code class="css">{% filter escape %}{% include "includes/css/status.scss" %}{% endfilter %}</code></pre>
      </details>

      <h2 id="interaction" class="nhsuk-heading-m">Interaction principles</h2>
      <p>Only use status indicators:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>to tell the user something important</li>
        <li>to inform the user of a change</li>
        <li>to inform the user that they need to do something</li>
      </ul>
      <p>For less prominent status indicators you could use <a href="labels">labels</a>.</p>

      <h2 id="documentation" class="nhsuk-heading-m">Content principles</h2>
      <p>Clear content about the change and what it means for the user.</p>

      <h2 class="nhsuk-heading-m">Services using statuses</h2>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Returns and movement</li>
        <li>Passport renewals</li>
        <li>Passport application search</li>
      </ul>

    </div>
  </main>
</div>

{% endblock %}
