{% extends "layouts/layout-bsa-design-system.html" %}

{% block beforeContent %}
    <section class="nhsuk-hero">
        <div class="nhsuk-width-container nhsuk-hero--border app-width-container">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-three-quarters">
                <div class="nhsuk-hero__wrapper app-hero__wrapper">
                    <h1 class="nhsuk-u-margin-bottom-4">Design and build digital services using NHSBSA components, patterns and styles</h1>
                    <p class="nhsuk-body-l">Use this design system to make your service consistent with NHS Business Services Authority.</p>
                </div>
            </div>
        </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="nhsuk-section-break--l">
        <div class="nhsuk-width-container app-width-container">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-three-quarters">
                    <h2 class="nhsuk-heading-l">NHSBSA design system</h1>
                    <p>This design system is for everyone. It's purpose is to extend the NHS.UK Design System with work specific to the NHSBSA. Learn from the research and experience of other service teams and avoid repeating work that has already been done.</p>
                    <hr>
                    <h2 class="nhsuk-heading-l">Support</h2>
                    <p>Any work which would benefit the NHS Business Services Authority and across government will be contributed to the <a href="https://service-manual.nhs.uk/">NHS digital service manual</a>.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
